@import '~antd/lib/style/themes/default.less';
.tags_sp{
    a {
        color: @text-color-secondary;
        transition: all 0.3s;
    
        &:not(:last-child) {
          margin-right: 40px;
        }
    
        &:hover {
          color: @text-color;
        }
      }
}

.ant-upload-select-picture-card i {
  font-size: 32px;
  color: #999;
}

.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  color: #666;
}

.article_form{
  background: #fff;
  padding: 24px;
}

.braft-editor{
  position: relative;
  height: auto;
  overflow: hidden;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); */
  font-family: initial;
}

.dark-row{
  background-color: #F8F8F8;
}