.ant-advanced-search-form {
    padding: 24px;
    background: #fff;
    /* border: 1px solid #d9d9d9; */
    border-radius: 6px;
  }
  
  .ant-advanced-search-form .ant-form-item {
    display: flex;
  }
  
  .ant-advanced-search-form .ant-form-item-control-wrapper {
    flex: 1;
  }

  .search-result-list{
    padding: 24px;
    background: #fff;
    margin-top:24px;
    border-radius: 6px;
  }

  .collection-create-form_last-form-item {
    margin-bottom: 0;
  }

  .dark-row{
    background-color: #F8F8F8;
  }

  .operator{
    margin-bottom: 16px;
  }