@import '~antd/lib/style/themes/default.less';

.ant-tabs .ant-tabs-bar {
  margin-bottom: 24px;
  text-align: center;
  border-bottom: 0;
}

.ant-form-item {
  margin: 0 2px 24px;
}

.login {
  :global {
    

    
  }

  .getCaptcha {
    display: block;
    width: 100%;
  }

  .icon {
    margin-left: 16px;
    color: rgba(0, 0, 0, 0.2);
    font-size: 24px;
    vertical-align: middle;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: @primary-color;
    }
  }

  .other {
    margin-top: 24px;
    line-height: 22px;
    text-align: left;

    .register {
      float: right;
    }
  }

  .prefixIcon {
    color: @disabled-color;
    font-size: @font-size-base;
  }

  .submit {
    width: 100%;
    margin-top: 24px;
  }
}
.main {
  width: 368px;
  margin: 0 auto;
  @media screen and (max-width: @screen-sm) {
    width: 95%;
  }

  .icon {
    margin-left: 16px;
    color: rgba(0, 0, 0, 0.2);
    font-size: 24px;
    vertical-align: middle;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: @primary-color;
    }
  }

  .other {
    margin-top: 24px;
    line-height: 22px;
    text-align: left;

    .register {
      float: right;
    }
  }
}
